/* General button styles */
button {
    padding: 6px 10px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  
  button:active {
    transform: scale(0.95);
  }

  /* Disabled Button */
  .disabled {
    background-color: grey;
    color: white;
  }
  
  /* Primary Button */
  .primary {
    background-color: #007bff;
    color: white;
  }
  
  .primary:hover {
    background-color: #0056b3;
  }
  
  /* Secondary Button */
  .secondary {
    background-color: #6c757d;
    color: white;
  }
  
  .secondary:hover {
    background-color: #5a6268;
  }
  
  /* Submit Button */
  .submit {
    background-color: #28a745;
    color: white;
  }
  
  .submit:hover {
    background-color: #218838;
  }
  
  /* Danger Button */
  .danger {
    background-color: red;
    color: white;
  }
  
  .danger:hover {
    background-color: rgb(214, 4, 4);
  }
  