.question-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-right: 10px;
  }
  
  .question-card h2 {
    margin: 0 0 8px;
    font-size: 1.5rem;
  }
  
  .question-card p {
    margin: 8px 0;
  }
  
  .question-card ul {
    list-style-type: none;
    padding: 0;
  }
  
  .question-card li {
    margin: 8px 0;
  }
  
  .option {
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .option:hover {
    background-color: #d0d0d0;
  }
  
  .selected-option {
    padding: 8px 16px;
    background-color: #4caf50;
    border: 1px solid #388e3c;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
  
  .selected-option:hover {
    background-color: #45a049;
  }

  .incorrect-option {
    padding: 8px 16px;
    background-color: red;
    border: 1px solid rgb(214, 4, 4);
    border-radius: 4px;
    cursor: pointer;
    color: white;
  }
  
  .incorrect-option:hover {
    background-color: rgb(214, 4, 4);
  }
  
  .points {
    margin-left: 8px;
    color: #388e3c;
    text-align: center;
  }
  
  .explanation {
    margin-top: 20px;
    padding: 8px;
    border-radius: 4px;
  }

  .explanation ol, .explanation ul {
    padding-left: 20px;
  }
  